:root {
  --ids__text-RGB: 8, 11, 17;
  --ids__text-secondary-RGB: 189, 190, 192;
  --ids__link-RGB: 255, 57, 1;
  --ids__hover-RGB: 255, 180, 4;
  --ids__accent-RGB: 255, 57, 1;
  --ids__code-RGB: 115, 120, 125;
  --ids__mark-RGB: 255, 225, 0;
  --ids__surface-RGB: 246, 247, 249;
  --ids__background-RGB: 255, 255, 255;
  --ids__black-RGB: 8, 11, 17;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ids__text-RGB: 255, 255, 255;
    --ids__background-RGB: 8, 11, 17;
    --ids__surface-RGB: 26, 30, 35;
    --ids__text-secondary-RGB: 100, 100, 100;
  }
}