:root {
  --ids__text-RGB: 8, 11, 17;
  --ids__text-secondary-RGB: 189, 190, 192;
  --ids__link-RGB: 255, 57, 1;
  /* --ids__hover-RGB: var(--ids__text-secondary-RGB); */
  --ids__hover-RGB: 255, 180, 4;
  --ids__accent-RGB: 255, 57, 1;
  --ids__code-RGB: 115, 120, 125;
  --ids__mark-RGB: 255, 225, 0;
  --ids__surface-RGB: 249, 250, 251;
  --ids__background-RGB: 255, 255, 255;
  --ids__black-RGB: 8, 11, 17;
  --imgOutlineColor: var(--ids__text-secondary-RGB);

  --izh-light-RGB: 240, 241, 245;
  --izh-dark-RGB: 37, 54, 113;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ids__text-RGB: 255, 255, 255;
    --ids__background-RGB: 8, 11, 17;
    --ids__surface-RGB: 26, 30, 35;
    --ids__text-secondary-RGB: 100, 100, 100;
    --imgOutlineColor: var(--ids__background-RGB);
    --izh-light-RGB: 37, 54, 113;
    --izh-dark-RGB: 240, 241, 245;
  }
}