.ids {
  & a {
    color: rgb(var(--ids__text-RGB));
    font-weight: 500;
    /* letter-spacing: 0.02em; */
    text-decoration: underline;
    will-change: color;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
    text-decoration-skip-ink: none;
    text-decoration-color: rgba(var(--ids__text-secondary-RGB), 0.5);
    transition: text-decoration-color 0.5s ease, color 0.5s ease;

    &.aside {
      /* color: RGB(var(--ids__text-secondary-RGB)); */
    }

    &:hover {
      color: rgb(var(--ids__hover-RGB));
      text-decoration-color: rgba(var(--ids__hover-RGB), 0.5);
      transition:
        color 0s ease,
        text-decoration 0s ease;
    }

    &.cv {
      /* color: rgba(var(--ids__text-secondary-RGB), 1); */
    }



    &.header-logo-name {
      /* margin-left: 0.75em; */
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;
      color: rgb(var(--ids__text-RGB), 1);
    }

    &.menu-item {
      /* font-size: 1.5rem; */
      font-weight: 500;
      text-decoration: none;
      /* text-decoration-style: dashed; */
      color: rgb(var(--ids__text-RGB), 1);

      @media (max-width: 767px) {
        font-size: 1.5rem;
      }

      &:hover {
        color: rgb(var(--ids__hover-RGB));
        transition:
          color 0s ease,
          text-decoration 0s ease;
      }

      &.current {
        color: rgb(var(--ids__text-RGB), 1);
      }
    }

    &.project-link {
      /* opacity: 0.15; */
      /* text-decoration: none; */
      /* text-decoration-thickness: .0625em; */
      /* text-decoration-thickness: 1px; */
      font-size: 1.5em;
      display: inline-block;
      background: none;
      /* text-align: center; */
      /* font-size: clamp(1.75rem, 4.5vw, 4rem); */
      font-weight: 500;
      /* padding: 0.25em 0.75em 0.35em 0.75em; */
      /* line-height: 1.2; */
      /* margin-top: 0.75em; */
      /* transition: opacity 0.5s ease; */

      &:hover {
        /* opacity: 1; */
        /* transition: opacity 0s ease; */
      }

      @media (width < 767px) {
        text-align: center;
        display: block;
        padding: 0 0 0.35em 0;
      }
    }

    &.button {
      /* font-size: 1.25rem; */
      font-size: 1.25em;
      /* text-decoration-thickness: .0625em; */
      text-decoration-thickness: 1px;
      /* offset-position: center; */
      /* text-decoration: none; */
      /* padding: 0.15em 0.6em 0.25em 0.6em; */
      /* margin-right: 0.5em; */
      /* display: inline-block; */
      /* vertical-align: baseline; */
      font-weight: 500;
      border-radius: var(--ids__radius);
      /* margin-top: 0; */
      /* margin-left: 0.15em; */
      /* transform: translateY(-0.15em); */
      /* background-color: rgba(var(--ids__text-RGB), 0.075); */
      /* box-shadow: 0 0 0 1px rgba(var(--ids__text-RGB), 0.075); */
      color: rgb(var(--ids__text-RGB), 1);
      transition:
        color 0.5s ease,
        background-color 0.5s ease;

      &:hover {
        color: rgb(var(--ids__hover-RGB), 1);
        /* opacity: 1; */
        /* background-color: rgb(var(--ids__hover-RGB), 1); */
        /* text-decoration: none; */
      }

      &.link {
        text-decoration-style: dashed;
        /* display: block; */
        /* font-size: clamp(2rem, 5vw, 5rem); */
        /* width: 100%; */
        color: rgb(var(--ids__text-RGB), 1);
        text-decoration-color: rgba(var(--ids__text-secondary-RGB), 0.5);
        border-radius: calc(var(--ids__radius) * 1);
        /* padding: 0.25em 0.75em 0.35em 0.75em; */
        /* padding: 0 1em 0.1em 1em; */
        /* background-color: rgb(var(--ids__text-RGB), 0.05); */
        margin: 0.25em 0.75em 0.35em 0.75em;
        /* text-decoration: none; */
        /* text-align: center; */
        /* box-sizing: border-box; */
        /* transition: transform .2s; */

        @media (width < 767px) {
          font-size: 1.25em;
          /* padding: 0.25em 0.5em 0.35em 0.5em; */
        }

        &:hover {
          color: rgb(var(--ids__hover-RGB));
          text-decoration-color: rgba(var(--ids__hover-RGB), 0.5);
          transition:
            color 0s ease,
            text-decoration 0s ease;
          /* color: rgb(var(--ids__text-RGB), 1); */
          /* background-color: rgb(var(--ids__hover-RGB), 1); */
          /* text-decoration: none; */
          /* transform: scale(1.03); */
          /* transition: transform .2s; */
        }
      }

      &.primary {
        /* color: rgba(8, 11, 17, 1); */
        color: rgb(var(--ids__background-RGB), 1);
        background: rgba(var(--ids__text-RGB), 1);
        border-radius: var(--ids__radius);
        /* width: auto; */
        /* min-width: 120px; */
        /* text-align: center; */
        margin-right: 0.25em;
        /* translate: 0 -0.35em; */
        /* transform: translateY(-0.35em); */
        text-decoration: none;
        /* font-size: 1.5rem; */
        /* background: rgba(var(--ids__text-RGB), 0.05); */
        /* display: inline-block; */
        padding: 0.25em 0.75em 0.35em 0.75em;
        /* box-sizing: border-box; */
        /* transition: transform .2s, color 0.5s ease, background-color 0.5s ease; */

        @media (width < 767px) {
          font-size: 1.25em;
          /* padding: 0.25em 0.5em 0.35em 0.5em; */
        }

        &.aside {
          /* border: 2px solid rgba(var(--ids__text-RGB), 1); */
          /* background-color: RGB(var(--ids__background-RGB)); */
          /* color: rgb(var(--ids__text-RGB), 1); */
          color: rgba(var(--ids__text-RGB), 1);
          /* font-size: clamp(1.75rem, 4.5vw, 4rem); */
          font-size: 1.5em;
          display: inline-block;
          background: none;
          text-align: center;
          /* transform: scale(1); */
          /* transition: transform .2s ease; */
          background-color: rgba(var(--ids__background-RGB), 1);
          margin-right: 0;

          &:hover {
            background-color: rgba(var(--ids__hover-RGB), 1);
            /* background: none; */

            /* background-color: rgba(var(--izh-dark-RGB), 1); */
            /* transform: scale(1.02); */
            /* transition: transform .2s ease; */
            /* color: rgba(var(--izh-dark-RGB), 1); */
          }

          @media (width < 767px) {
            /* font-size: 1.75em; */
            display: block;
          }

          &.izh {
            /* border-radius: calc(var(--ids__radius) * 1); */

            /* font-size: clamp(2rem, 5vw, 5rem); */
            /* width: 100%; */
            /* box-sizing: border-box; */
          }
        }

        @media (width < 767px) {
          /* translate: 0 +0.35em; */
          /* transform: translateY(+0.35em); */
          /* align-items: stretch; */
        }

        &:hover {
          /* border: 2px solid rgba(var(--ids__hover-RGB), 0.5); */
          background: rgba(var(--ids__hover-RGB), 1);
          color: rgb(var(--ids__background-RGB), 1);
          /* transform: scale(1.03); */
          /* transition: transform .1s, color 0.5s ease, background-color 0.5s ease; */
        }
      }


      @media (width < 767px) {
        font-size: 1em;
      }
    }

    &.button:hover {
      color: rgb(var(--ids__hover-RGB), 1);
      /* box-shadow: 0 0 0 1px rgba(var(--ids__text-RGB), 0); */
      /* background-color: rgba(var(--ids__hover-RGB), 1); */
      transition: color 0s ease,
        background-color 0s ease;
    }

    &.text {
      /* margin-left: 0.75em; */
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none;
      color: rgb(var(--ids__text-RGB), 1);
    }
  }

  .ids__promo-link {
    display: flex;

    & a {
      display: inline-block;
      padding: 0.45em 0.6em 0.5em;
      border: 1px solid rgba(var(--ids__text-RGB), 0.5);
      border-right: 0;

      &:hover {
        background-color: rgba(var(--ids__hover-RGB), 0.1)
      }

      &:first-child {
        border-radius: 0.3em 0 0 0.3em;
        padding-left: 1em;
      }

      &:last-child {
        border-radius: 0 0.3em 0.3em 0;
        padding-right: 1em;
        border-right: 1px solid rgba(var(--ids__text-RGB), 0.5)
      }

      &.active {
        color: RGB(var(--ids__text-RGB));
        background-color: rgba(var(--ids__text-RGB), 0.05);
        -webkit-text-decoration: none;
        text-decoration: none;
        cursor: default;
      }

      &.active::after {
        content: " ↓";
      }
    }
  }

  & p {
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: calc(var(--ids__density) * 0.4em);
    /* margin-bottom: 0; */

    &.intro {
      font-size: 1.25em;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: calc(var(--ids__density) * 0.4em);
    }

    &.aside {
      /* font-size: 1.25em; */
      line-height: calc(var(--ids__density) / 1.15);
      /* opacity: 0.25; */
      color: RGB(var(--ids__text-secondary-RGB));
      /* color: RGB(var(--ids__text-RGB)); */
      font-weight: 500;
      margin-top: calc(var(--ids__density) * 0.25em);
      margin-bottom: calc(var(--ids__density) * 0.75em);
      /* margin-right: calc(var(--ids__density) * 10%); */
      /* margin-bottom: 1em; */
      width: 85%;

      &.figcaption {
        width: 90%;
      }

      &.cv {
        color: RGB(var(--ids__text-RGB));

      }

      @media (width < 767px) {
        line-height: calc(var(--ids__density) / 1.1);
        width: 100% !important;
        /* font-size: 10em; */
      }
    }

    &.cv {
      /* margin-top: 0; */
      /* margin-bottom: 0.5em; */
      /* width: 85%; */
      /* opacity: 0.25; */
      /* font-size: 1em; */
      /* font-weight: 400; */

      @media (width < 767px) {
        /* width: 100%; */
      }

      /* font-weight: 400; */
      /* line-height: 1.3; */
      /* font-size: 1.25em; */
      /* font-weight: 400; */
      /* margin-bottom: 0.25em; */
    }

    &.loud {
      /* color: rgb(var(--ids__text-RGB), 0.5); */
      font-size: clamp(1.75rem, 4.5vw, 4rem);
      /* font-size: 2em; */
      line-height: 1.2;
      /* letter-spacing: -0.025em; */
      font-weight: 600;
      /* margin-bottom: 0.35em; */

      @media (width < 767px) {
        font-size: 2em;
        margin-bottom: 1em;
      }

      &.secondary {
        opacity: 0.25;
        /* font-size: 1.5em; */
        margin-left: calc(var(--ids__density) * 0.1025em);
        margin-bottom: 0.05em;
        /* margin-top: 0.25em; */

        @media (width < 767px) {
          margin-left: calc(var(--ids__density) * 0.175em);
        }
      }
    }

    &.competence-description {
      /* font-size: 1.25em; */
      font-weight: 500;
      /* opacity: 0.25; */
      margin-top: 0.15em;
      /* width: 80%; */

      @media (width < 767px) {
        font-size: 1.25em;
        width: 100%;
      }
    }

    &.huge {
      font-size: 6em;
      font-weight: 600;
      /* line-height: 1.3; */
      opacity: 0.15;
      /* -webkit-text-stroke: 1px rgba(var(--ids__text-RGB), 1); */
      /* -webkit-text-fill-color: transparent; */

      @media (max-width: 767px) {
        &.huge {
          font-size: 3.2em;
        }
      }

      @media (max-width: 549.98px) {
        &.huge {
          font-size: 2.8em;
        }
      }
    }

    @media (width < 767px) {
      font-size: 1em;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin: 0;
    font-weight: 600;
  }

  & h1 {
    /* font-size: 6em; */
    /* font-size: 8em; */
    /* font-size: calc(clamp(2rem, 5vw, 5rem) * 3); */
    font-weight: 600;
    /* letter-spacing: -0.01em; */
    line-height: calc(var(--ids__density) / 1.2);
    /* margin-bottom: 0.35em; */


    @media (width < 767px) {
      font-size: 3.5em;
    }

    &.S {
      font-size: 2.4em;
      font-weight: 650;
    }

    &.XS {
      font-size: 1.5em;
      font-weight: 600;
    }
  }

  & h2 {
    font-size: 2.4em;
    font-weight: 650;
    line-height: calc(var(--ids__density) / 1.2);
    /* letter-spacing: -0.015em; */
    margin-bottom: 0.5em;

    &.secondary {
      opacity: 0.2;
      /* font-size: 1.5em; */
      margin-left: calc(var(--ids__density) * 0.075em);
      margin-bottom: 0.05em;
      /* margin-top: 0.25em; */

      @media (width < 767px) {
        /* font-size: 1em; */
        /* margin-left: calc(var(--ids__density) * 0.175em); */
      }
    }

    &.XS {
      font-size: 1.5em;
      font-weight: 600;
    }
  }

  & h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: calc(var(--ids__density) / 1.1);
    margin-bottom: 0.6em;

    &.cv {
      /* opacity: 0.25; */
      color: rgba(var(--ids__text-secondary-RGB), 1);
      /* font-weight: 500; */
    }
  }

  & h4 {
    font-size: 1.1em;
    line-height: var(--ids__density);
    margin-bottom: 0.5em;
  }

  & h5 {
    font-size: 1em;
    line-height: var(--ids__density);
    margin-bottom: 0.5em;
  }

  & h6 {
    /* opacity: 0.25; */
    color: rgba(var(--ids__text-secondary-RGB), 1);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: var(--ids__density);
    margin-bottom: 0.25em;

    &.secondary {
      /* color: rgba(var(--ids__hover-RGB), 1); */
      /* opacity: 0.25; */
    }


    &.cv {
      margin-bottom: 1em;
      /* font-size: 1.25em; */
      opacity: 0.25;
      /* font-weight: 500; */
      /* color: rgb(var(--ids__text-RGB), 1); */
    }

    @media (width < 767px) {
      font-size: 0.9em;
      margin-bottom: 0.5em;
      /* line-height: 1.3; */
    }
  }

  & strong,
  & b {
    font-weight: 500;
  }

  & mark {
    color: rgb(var(--ids__text-RGB));
    background-color: rgb(var(--ids__mark-RGB));
  }

  & ul,
  & ol {
    margin: 0 0 calc(var(--ids__density) * 0.75em) 0;
    padding: 0;

    & li {
      position: relative;
      margin-bottom: calc(var(--ids__density) * 0.5em);
    }
  }

  & ul {
    & li {
      list-style-type: none;
      padding-left: calc(var(--ids__density) * 0.75em);
      font-size: 1.25em;

      &:before {
        position: absolute;
        left: 0;
        content: "⋅ ";
      }
    }
  }

  & ol {
    & li {
      list-style: decimal inside none;
    }
  }

  & blockquote {
    font-size: 1.4em;
    line-height: var(--ids__density);
    margin: 0;
    padding-left: calc(var(--ids__density) * 0.75em);
    margin-bottom: calc(var(--ids__density) * 1em);
  }

  & aside {
    /* box-shadow: 0 0 30px rgba(var(--ids__text-RGB), 0.15); */
    border-radius: calc(var(--ids__radius) * 3.5);
    background: rgb(var(--ids__surface-RGB));

    padding-top: calc(var(--ids__density) * 1em);
    padding-right: calc(var(--ids__density) * 1em);
    padding-bottom: calc(var(--ids__density) * 1em);
    padding-left: calc(var(--ids__density) * 1em);

    margin-top: calc(var(--ids__density) * 1.5em);
    margin-right: calc(var(--ids__density) * -1em);
    /* margin-bottom: calc(var(--ids__density) * 1em); */
    margin-left: calc(var(--ids__density) * -1em);

    &.izh {
      background-color: rgba(var(--izh-RGB), 1);
      /* color: rgb(var(--ids__background-RGB), 1); */
    }

    @media (width < 767px) {
      margin: 1.5em -0.75rem 0 -0.75rem;
      padding-top: calc(var(--ids__density) * 0.5em);
      padding-left: calc(var(--ids__density) * 0.5em);
      padding-right: calc(var(--ids__density) * 0.5em);
      padding-bottom: calc(var(--ids__density) * 0.5em);
      /* margin-top: calc(var(--ids__density) * 1.5em); */
    }
  }

  & code {
    font-size: 0.9em;
    font-family: "Root UI";
    letter-spacing: 0.02em;
    font-weight: 450;
    padding: 0.1em 0.25em;
    border-radius: 0.2em;
    color: rgba(var(--ids__code-RGB), 1);
    border: 1px solid rgba(var(--ids__code-RGB), 0.1);
    background: rgba(var(--ids__code-RGB), 0.1);
  }

  & figure {
    margin: 0 0 calc(var(--ids__density) * 1.5em) 0;

    &.XXS,
    &.ids__figure__XXS {
      width: 25%;
    }

    &.XS,
    &.ids__figure__XS {
      width: 50%;
    }

    &.S,
    &.ids__figure__S {
      width: 75%;
    }
  }

  & figcaption {
    /* margin-top: calc(var(--ids__density) * 0.5em); */
    /* margin-bottom: calc(var(--ids__density) * 0.5em); */
    /* font-size: 0.8em; */
    color: rgba(var(--ids__text-secondary-RGB), 1);
    font-weight: 400;
    font-size: 1.25em;
    line-height: calc(var(--ids__density) / 1.2);
    /* line-height: var(--ids__density); */
    /* opacity: 0.5; */
    margin-top: 0.5em;
  }

  & details {
    padding: 0.5em;
    cursor: pointer;
    border-radius: var(--ids__radius);

    & summary {
      padding-bottom: var(--ids__micro-padding);
    }
  }

  & table {
    border-spacing: 0;
    background-color: inherit;

    @media (max-width: 768px) {
      font-size: 0.7em;
    }

    thead {
      background-color: inherit;
    }

    tr {
      background-color: inherit;

      & th {
        position: sticky;
        top: 0px;
        text-align: left;
        border-bottom: 2px solid rgba(var(--ids__text-RGB), 1);
        padding-bottom: 0.3em;
        background-color: inherit;

        @media (max-width: 768px) {
          padding-top: 0.8em;
        }
      }

      & td {
        padding: 0.8em 0.5em 1em 0;
        border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.5);
        vertical-align: top;
      }

      &:last-child {
        & td {
          border-bottom: none;
        }
      }
    }
  }

  & hr {
    border-top-color: rgba(var(--ids__text-RGB), 0.2);
    border-bottom: 0;
  }
}

.label {
  /* background-color: rgba(var(--ids__text-secondary-RGB), 1); */
  background-color: rgba(var(--ids__hover-RGB), 1);
  padding: 0.025em 0.25em 0.2em 0.35em;
  border-radius: 0.25em;
  font-weight: 500;
  /* transform: translateY(0.35em); */
  /* margin-top: 5em; */
}