@font-face {
  font-family: 'IZH-260-T';
  src: url('../fonts/IZH-260-T.woff2') format('woff2'),
    url('../fonts/IZH-260-T.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  padding: 10px 10px 50px 50px;
  /* width: 1200px; */
  min-width: 1200px;
}

*,
*:before,
*:after {
  box-sizing: border-box;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

input {
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  line-height: normal;
  padding: 7px 0px 0px 12px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

img {
  display: block;
  /* width: 100%; */
}




/* COLORS */
:root {
  --text-RGB: 8, 11, 17;
  --text-secondary-RGB: 189, 190, 192;
  --link-RGB: 37, 54, 113;
  --hover-RGB: 255, 180, 4;
  --background-RGB: 240, 241, 245;
  --error-RGB: 255, 84, 84;
  --preview-img-shadow-color: rgba(0, 0, 0, 0.09);
  --preview-img-shadow-color-light: rgba(0, 0, 0, .5);
  --preview-overlay-light-opacity: 0;
  --preview-overlay-shadow-opacity: 1;
  --preview-overlay-transition-duration: 0.2s;
  --button: 37, 54, 113;
}

html.theme-dark {
  --preview-overlay-light-opacity: 1;
  --preview-overlay-shadow-opacity: 0;
  --preview-overlay-transition-duration: .75s;
  --preview-img-shadow-color: rgba(255, 249, 221, .7);
  --preview-img-shadow-color-light: rgba(0, 0, 0, 1);
  --link-RGB: 8, 11, 17;
  --background-RGB: 8, 11, 17;
  --surface-RGB: 26, 30, 35;
  --text-secondary-RGB: 8, 11, 17;
  --button: 230, 79, 54;
}

/* Smooth theme transition */
html,
body,
body * {
  transition: color var(--preview-overlay-transition-duration) ease, background-color var(--preview-overlay-transition-duration) ease, border-color var(--preview-overlay-transition-duration) ease, box-shadow var(--preview-overlay-transition-duration) ease, text-decoration-color var(--preview-overlay-transition-duration) ease;
}

/* RATIO */
:root {
  --ratio: 0.85;
  --img-ratio: 0.5;
}

/* LAYOUT */
body {
  font-family: 'IZH-260-T', sans-serif;
  background-color: rgba(var(--background-RGB), 1);
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  color: rgba(var(--link-RGB), 1);
  line-height: 1;
  margin: 0;
}

.header-row {
  gap: 1em;
  flex-wrap: wrap;
}

.theme-toggle {
  padding: 0em 0em 0.05em 0em;
  font-size: 2.5em;
  /* font-weight: 500; */
  /* color: rgba(var(--button), 1); */
  /* background: rgba(var(--button), 1); */
  /* border: 1px solid rgba(var(--link-RGB), 0.2); */
  /* border-radius: 8px; */
  cursor: pointer;
  /* font-family: inherit; */
}

.theme-toggle:hover {
  /* color: rgba(var(--link-RGB), 1); */
  /* background: rgba(var(--link-RGB), 0.12); */
}

/* a .download-button {
  text-decoration: none;
  font-weight: 500;
  color: rgba(var(--link-RGB), 1);
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
} */

p {
  font-size: 1em;
  font-weight: 500;
  color: rgba(var(--link-RGB), 1);
  font-weight: 500;
  margin: 0 0 5px 0;

  &#letter-input-error-message,
  &#number-input-error-message,
  &#street-name-warning-message,
  &#okn-input-error-message {
    color: rgba(var(--error-RGB), 1);
    font-size: 0.85em;
    background-color: rgba(var(--error-RGB), 0.05);
    padding: 7px 5px 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  &.small-text {
    font-size: 1em;
    color: rgba(var(--text-secondary-RGB), 1);
    font-weight: 500;
    margin: 0;
  }
}

a.type-button {
  /* text-decoration: none; */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.35em;
  text-decoration-color: rgba(var(--link-RGB), 0);
  font-weight: 500;
  padding-right: 0.75em;

  color: rgba(var(--link-RGB), 1);
  cursor: pointer;
  font-size: 1em;
  /* text-align: center; */
  /* padding: 12px 15px 8px; */
  opacity: 1;
  /* border-radius: 10px; */
  /* padding: 12px 15px 8px; */
  /* background-color: rgba(var(--link-RGB), 0.075); */

  /* border: 1px solid rgba(var(--link-RGB), 0); */
  /* box-shadow: 0 0px 0 1px rgba(var(--link-RGB), 0.075) inset; */
  /* transition: text-decoration-color 0.2s ease; */

  &:hover {
    /*     text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.35em; */
    text-decoration-color: rgba(var(--link-RGB), 0.25);
    /* box-shadow: 0 0px 0 2px rgba(var(--link-RGB), 0.075) inset; */
    /* box-shadow: 0 0px 0 1px rgba(var(--link-RGB), 0.075) inset; */
    /* border: 1px solid rgba(var(--link-RGB), 0.2); */
    /* background-color: rgba(var(--link-RGB), 0.25); */
    /* color: rgba(var(--link-RGB), 1); */
    /* opacity: ; */
    color: rgba(var(--link-RGB), 1);
    /* opacity: 1; */

  }

  &.preview-tab-selected {
    /*     text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.35em; */
    text-decoration-color: rgba(var(--link-RGB), 1);
    /* box-shadow: 0 0px 0 2px rgba(var(--link-RGB), 0.15) inset; */
    /* opacity: 1; */
    /* border: 1px solid rgba(var(--link-RGB), 0.075); */
    /* background-color: rgba(var(--link-RGB), 1); */
    /* background-color: rgba(var(--link-RGB), 0.25); */
    color: rgba(var(--link-RGB), 1);
    /* box-shadow: 0 5px 10px 0 rgba(var(--link-RGB), 0.075); */
    /* box-shadow: 0 2px 0 1px rgba(var(--link-RGB), 0.075) inset; */
    /* border: 1px solid rgba(var(--link-RGB), 0.075); */
    /* padding: 0.5px; */
  }

  &.D {
    /* background-color: rgba(var(--link-RGB), 0.015); */
    padding: 12px 15px 8px;
    border-radius: 10px;
    background-color: rgba(var(--link-RGB), 1);
    /* text-decoration: none; */
    /* font-weight: 500; */
    color: rgba(var(--background-RGB), 1);

    font-size: 1em;

    /* cursor: pointer; */
    /* font-size: 1em; */
    /* text-align: center; */
    &:hover {
      background-color: rgba(var(--link-RGB), 0.8);
    }
  }
}


.centered {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;

  &.button-group {
    /* border: 1px solid rgba(var(--text-RGB), 0.05); */
    gap: 10px;
    /* background-color: rgba(var(--text-RGB), 0.075); */
    width: fit-content;
    margin: 0;
    /* margin-left: -15px; */
    border-radius: 10px;

    /* box-shadow: rgba(var(--text-RGB), .1) 0px 8px 24px; */
  }

  &.input-group {
    width: 1200px;
    margin: 0;
    /* gap: 20px; */
  }

  &.preview {
    align-items: flex-start;
    height: 300px;
  }

  /* taller preview when OKN tab is selected */
  body:has(#okn.preview-tab-selected) &.preview {
    height: 300px;
  }

  &.input-group {
    align-items: flex-start;
    /* width: 80%; */
    /* margin: 0 auto; */
    /* max-width: 1200px; */
  }
}

.preview__group {
  /* align-items: flex-start; */
  gap: 30px;
  /* width: 800px; */
  /* height: 100%; */
  /* width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex; */
  /* align-items: center; */

}

.aside-title {
  /* position: absolute; */
  /* width: 350px; */
  /* padding-left: 400px; */
  /* margin-left: 400px; */
}

p.aside-title {
  /* position: relative; */
  color: rgba(var(--text-secondary-RGB), 1);
  width: 340px;
  padding-bottom: 7px;
  /* position: absolute; */
  /* text-align: center; */
  /* margin: 0 auto 0 auto; */
}

.preview__item {
  /* height: 200px; */
}

.preview {
  display: flex;
  /* align-items: center; */

}

#preview-group-name-number {
  /*   gap: 30px;
  width: 100%;
  max-width: 1200px;
  height: calc(280px * 0.9 - 30px); */
}

#preview-group-izhs {
  /*   gap: 25px;
  height: calc(200px * 0.9 - 25px); */
}

#preview-group-okn {
  /* height: calc(600px * 0.9 - 180px); */
}

.preview__item {
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* width: 10%; */
}

.preview__img-wrap {
  position: relative;
  display: inline-block;
}

.preview__img-wrap::before,
.preview__img-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: multiply;
  pointer-events: none;
  transition: opacity var(--preview-overlay-transition-duration) ease;
}

.preview__img-wrap::before {
  background-image: url("../img/light.png");
  opacity: calc(var(--preview-overlay-light-opacity) * 1);
}

.preview__img-wrap::after {
  background-image: url("../img/shadow-gradient.png");
  opacity: calc(var(--preview-overlay-shadow-opacity) * 0.85);
}

.preview__img-wrap.sign-preview::before,
.preview__img-wrap.sign-preview::after {
  border-radius: calc(20px * var(--img-ratio));
}

.preview__img-wrap.izhs-preview::before,
.preview__img-wrap.izhs-preview::after {
  border-radius: calc(15px * var(--img-ratio));
}

.preview__img-wrap.okn-preview::before,
.preview__img-wrap.okn-preview::after {
  border-radius: calc(25px * var(--img-ratio));
}

.preview__img {
  /* max-width: 100%; */
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0;
  box-shadow:
    var(--preview-img-shadow-color-light) 0px 4px 8px,
    var(--preview-img-shadow-color) 0px 4px 60px
    /* ,
    var(--preview-img-shadow-color) 0px 80px 4px,
    var(--preview-img-shadow-color) 0px 1em 8px,
    var(--preview-img-shadow-color) 0px 32px 1em */
  ;

  &.sign-preview {
    border-radius: calc(20px * var(--img-ratio));
    max-height: calc(280px * var(--img-ratio));
  }

  &.izhs-preview {
    border-radius: calc(15px * var(--img-ratio));
    max-height: calc(200px * var(--img-ratio));
  }

  &.okn-preview {
    border-radius: calc(25px * var(--img-ratio));
    max-height: calc(450px * var(--img-ratio));
    /* height: 400px; */
  }
}

.preview__dimensions {
  margin-top: 15px;
  color: rgba(var(--text-secondary-RGB), 1);
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.055em;
  font-weight: 500;
  font-size: 0.85em;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* padding: 20px; */
}

.input-group__item {
  text-align: left;
  /*   display: flex;
  flex-direction: column; */
}

/* different widths per input */
#streetName {
  width: 500px;
}

.input-group__item:first-child .easy-autocomplete {
  width: 500px !important;
}

#houseNumber {
  width: 100px;
}

#houseLetter {
  width: 100px;
}

.gap {
  height: 10px;
}

.gap.M {
  height: 25px;
}

.gap.L {
  height: 50px;
}

.gap.XL {
  height: 100px;
}

.hidden-fields {
  visibility: hidden;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: baseline;
}

.input-error-area {
  min-height: 2.5em;
  margin-top: 0.25em;
  text-align: left;
}

.input-error-area #number-input-error,
.input-error-area #letter-input-error,
.input-error-area #okn-input-error,
.input-error-area #street-name-warning {
  display: none;
  margin-top: 0;
}

.input-error-area #number-input-error.visible,
.input-error-area #letter-input-error.visible,
.input-error-area #okn-input-error.visible,
.input-error-area #street-name-warning.visible {
  display: block;
  width: 350px;
  color: rgba(var(--error-RGB), 1);
}

/* AUTOCOMPLETE */
.easy-autocomplete {
  position: relative;
  width: 100% !important;
}

/* common style for all inputs, including Easy Autocomplete */
input,
.easy-autocomplete input {
  /* border: 1px solid rgba(var(--link-RGB), 0); */
  /* border-radius: 10px; */
  height: 1.75em;
  /* border-width: 21px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; */
  color: rgba(var(--link-RGB), 1);
  font-size: 1.75em;
  background: rgba(var(--background-RGB), 1);
}

.easy-autocomplete input:hover,
.easy-autocomplete input:focus {
  box-shadow: none;
}

.easy-autocomplete a {
  display: block;
}

.easy-autocomplete-container {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.easy-autocomplete-container ul {
  background: none repeat scroll 0 0 #ffffff;
  border-top: 1px dotted #ccc;
  display: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  top: -1px;
}

.easy-autocomplete-container ul li,
.easy-autocomplete-container ul .eac-category {
  background: inherit;
  border-color: #ccc;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  padding: 4px 12px;
}

.easy-autocomplete-container ul li:last-child {
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px;
}

.easy-autocomplete-container ul li.selected {
  background: none repeat scroll 0 0 #ebebeb;
  cursor: pointer;
}

.easy-autocomplete-container ul li.selected div {
  font-weight: normal;
}

.easy-autocomplete-container ul li div {
  display: block;
  font-weight: normal;
  word-break: break-all;
}

.easy-autocomplete-container ul li b {
  font-weight: bold;
}

.easy-autocomplete-container ul .eac-category {
  font-color: #aaa;
  font-style: italic;
}

.eac-description .eac-item span {
  color: #aaa;
  font-style: italic;
  font-size: 0.9em;
}

.eac-icon-left .eac-item img {
  margin-right: 4px;
  max-height: 30px;
}

.eac-icon-right .eac-item {
  margin-top: 8px;
  min-height: 24px;
  position: relative;
}

.eac-icon-right .eac-item img {
  margin-left: 4px;
  max-height: 30px;
  position: absolute;
  right: -4px;
  top: -8px;
}